body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("http://az616578.vo.msecnd.net/files/2016/07/31/636055831659367167-1875003841_Stage%202.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addSSDancerButton, .addMovingDancerButton{
  padding:5px 12px;
  float:right;
}

.lineupButton {
  padding:6px 15px;
  float:left;
  font-size: 18px;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}

.dancer{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}

.square-dancer{
  border: 10px solid blue;
  border-radius:1px;
  position: absolute;
}

.blinky {
  border: 15px solid yellow;
  border-radius:15px;
  position: absolute;
}

.on-mouseover {
  opacity: 0.2;
}

.gif {
  border: 0;
  border-radius: 0;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
}



