body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("http://vignette4.wikia.nocookie.net/fantendo/images/5/51/Pok%C3%A9mon_Stadium_2.jpg/revision/latest?cb=20141221100214");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Comic Sans MS";
}
/*body, a:link, a:visited, a:active{
  color: lightblue;
}*/
.title, .addDancerButton, .addSSDancerButton, .addMovingDancerButton{
  padding:5px 12px;
  display: inline-block;
  color: black;
}

.lineupButton, .pikachu, .dizzy {
  padding:5px 12px;
  border-radius: 4px;
  margin: 0 auto;
}

.lineupButton {
  background: #000;
  margin-left: 40px;
  margin-right: 50px;
  color: #00d8ff;
}

.pikachu {
  background: #fff600;
}

.dizzy {
  background: #fc743f;
  float: right
}

.topbar{
  height:32px;
  width: 650px;
  margin: 0 auto;
}

.title{
  background-color: #777;
}

.dancer{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}

.square-dancer{
  border: 10px solid blue;
  border-radius:1px;
  position: absolute;
}

.blinky {
  border: 15px solid yellow;
  border-radius:15px;
  position: absolute;
}

.on-mouseover {
  transform: scale(1.5);
  transition: all .2s ease-in-out;
}

.gif {
  border: 0;
  border-radius: 0;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
}

a {
  text-decoration: none;
}

.topbar {
  color: #000;
}


